html,body{
    margin:0;
    padding:0;
    height:100vh;
    font-family:Verdana;
}
.loginform a p:hover{
    color:dodgerblue;
}
.loginform a{
    font-size:11px;
    color:gray;
}
#display{
    font-size:11px;
    color:red;
}
#signup{
    font-size:small;
}
#signup a{
    font-size:small;
}
#reset-display{
    font-size:11px;
    color:red;
}
#signup-display{
    font-size:11px;
    color:red;
}
.loginform{
    margin-top:5%;
    padding-bottom:3%;
    width:36%;
    border-radius:20px;
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
    text-align:center;
    background:linear-gradient(whitesmoke,silver);
    overflow:hidden;
}
.loginform h1{
    color:dodgerblue;
}
.loginform hr{
    border-color:darkgray;
    border-width:1px;
    margin-top:5%;
}
.loginform div{
    margin:auto;
    width:80%;
}
.username,.password{
    width:98%;
    block-size:35px;
    border-radius:50px;
    box-shadow:none;
    border-style:solid;
    border-color:white;
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
    margin-top:4%;
    transition:box-shadow 0.3s ease-in-out,border-color 0.3s ease-in-out;
}
.username::placeholder,.password::placeholder{
    padding:4%;
    font-family:Verdana;
    color:darkgray;
    font-size:12px;
    transition: color 0.3s ease-in-out;
}
.username:hover,.password:hover{
    box-shadow:none;
    border-color:dodgerblue;
}
.username:hover::placeholder,.password:hover::placeholder{
    color:black;
}
.loginbutton{
    width:100%;
    background-color:dodgerblue;
    color:white;
    border-color:dodgerblue;
    font-weight:bold;
    block-size:40px;
    border-style:solid;
    border-radius:50px;
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
    cursor:pointer;
    transition:box-shadow 0.3s ease-in-out,color 0.3s ease-in-out,background-color 0.3s ease-in-out;
}
.loginbutton:hover{
    color:dodgerblue;
    background-color:white;
    box-shadow:none;
}
.loginbuttons{
    width:100%;
    background-color:white;
    border-color:white;
    font-weight:bold;
    color:dimgray;
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
    block-size:40px;
    border-style:solid;
    border-radius:50px;
    cursor:pointer;
    transition:border-color 0.3s ease-in-out,color 0.3s ease-in-out,background-color 0.3s ease-in-out;
}
.loginbuttons:hover{
    color:white;
    border-color:dodgerblue;
    background-color:dodgerblue;
}
#successmsg{
    text-align:center;
    font-size:smaller;
    font-weight:initial;
}
.shake{
    animation:shake 0.8s;
}
@keyframes shake{
    0%,100%{
        transform:translateX(0px);
    }
    10%,30%,50%,70%,90%{
        transform:translateX(-2px);
    }
    20%,40%,60%,80%{
        transform:translateX(2px);
    }
}
.error{
    color:red;
}
.loading{
    color:dodgerblue;
}
.success{
    color:limegreen;
}
#input1,#input2,#input3,textarea{
    background-color:rgb(250,250,250);
    border-color:rgb(250,250,250);
}
a{
    color:black;
    font-size:larger;
    text-decoration:none;
}
a:hover{
    color:dodgerblue;
}
.homes{
    color:dodgerblue;
    font-size:larger;
    text-decoration:none;
}
.nav{
    position:fixed;
    background-color:white;
    top:0;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    padding:10px;
    width:100%;
    display:flex;
}
.logo{
    margin-left:1%;
    width:100%;
    display:flex;
}
.logoimg{
    block-size:4em;
}
.logo1{
    display:flex;
    justify-content:center;
}
.logoimg2{
    block-size:5.5em;
}
.options{
    margin-left:4%;
    display:flex;
    justify-content:center;
    width:100%;
}
.option{
  padding-top:5%;
  padding-left:3%;
  padding-right:3%;
}
.logout:hover{
    color:red;
}
.optionhome,.optionabout,.optionhelp,.optionpassen{
    background-color:white;
    padding-top:5%;
    padding-left:3%;
    padding-right:3%;
}
.option:hover{
    background-color:whitesmoke;
}
.logoutdiv{
    position:absolute;
    z-index:1000;
    display:none;
    right:4%;
    margin:6% auto;
    font-size:small;
    border-radius:6px;
    padding:3%;
    padding-top:1%;
    text-align:center;
    box-shadow:5px 5px 5px rgba(0,0,0,0.3);
    background:linear-gradient(white,whitesmoke);
}
.logclick{
    font-size:x-large;
}
.logclick:hover{
    color:gray;
}
#username{
    font-size:large;
    color:dimgray;
}
.mainimg{
    width:100%;
}
.searches{
    display:flex;
    overflow:hidden;
    box-shadow:0px 0px 1.5px rgba(0,0,0,0.9);
    border-radius:3px;
    background-color:white;
}
.searchbar{
    flex:1;
    box-shadow:none;
    border-style:none;
    outline:none;
}
.searchbar:hover::placeholder{
    color:black;
}
.searchbutton{
    background-color:dodgerblue;
    color:white;
    padding:10px 20px;
    border-style:none;
    outline:none;
    cursor:pointer;
}
.searchbutton:hover{
    background-color:royalblue;
}
#searchicon{
    font-size:x-large;
}
.button{
    width:100%;
    padding:20px;
    border-style:none;
    font-variant-caps:all-petite-caps;
    color:dodgerblue;
    font-size:large;
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
    cursor:pointer;
}
.button:hover{
    background-color:lightgray;
}
.statementoption{
    text-align:center;
    background-color:dodgerblue;
    color:white;
    padding:1px;
}
.hr{
    border-style:solid;
    border-width:2px;
    border-color:dodgerblue;
}
hr{
    border-style:solid;
    border-width:2px;
}
.hrbottom{
    border-style:solid;
    border-color:lightgray;
    border-width:1px;
}
.socialmediadiv{
    text-align:center;
    max-width:800px;
    margin:30px auto;
    padding:20px;
}
#facebook,#linkedin,#github,#whatsapp{
    font-size:40px;
    transition:filter 0.3s ease-in-out,transform 0.3s ease-in-out,color 0.3s ease-in-out
}
#facebook:hover,#linkedin:hover,#github:hover,#whatsapp:hover{
    color:dodgerblue;
    transform:translateY(-4px);
    filter:drop-shadow(0px 0px 0.5px rgba(0,0,0,0.9));
}
#facebook{
    color:mediumblue;
}
#linkedin{
    color:mediumblue;
}
#github{
    color:darkorchid;
}
#whatsapp{
    color:limegreen;
}
input,textarea{
    width:100%;
    border-style:solid;
    box-shadow:0px 0px 1.5px rgba(0,0,0,0.9);
    border-color:white;
    border-radius:2px;
    block-size:40px;
}
.innerbutton{
    block-size:55px;
    background-color:dodgerblue;
    color:white;
    border-style:none;
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
    border-radius:5px;
    font-family:Verdana;
    cursor:pointer;
    width:20%;
    transition:background-color 0.2s ease-in-out;
}
.innerbutton:hover{
        background-color:white;
        box-shadow:0px 0px 1px 1px rgba(30,144,255,0.9);
        color:dodgerblue;
}
.innerbuttondiv{
    margin-top:2%;
    text-align:end;
}
textarea{
    padding:3px;
    font-family:Verdana;
    padding-bottom:8%;
}
.inputs{
    margin-top:1%;
}
#add,#update,#detailscontent,#payment{
    border-radius:6px;
    background-color:whitesmoke;
    margin:30px auto;
    padding:2%;
    width:90%;
    box-shadow:0px 0px 2px rgba(0,0,0,0.9);
}
#searchcontent{
    border-radius:6px;
    margin:30px auto;
    padding:2%;
    width:40%;
}
.view-flight-details{
    block-size:25px;
    border:none;
    border-radius:3px;
    color:white;
    font-weight:bold;
    cursor:pointer;
    background-color:dodgerblue;
    box-shadow:0px 0px 1.5px rgba(0,0,0,0.9);
    transition:box-shadow 0.1s ease-in-out,color 0.1s ease-in-out,background-color 0.1s ease-in-out;
}
.view-flight-details:hover{
    background-color:white;
    color:dodgerblue;
    box-shadow:0px 0px 1.5px rgba(30,144,255,0.9);
}
.delete-passenger{
    block-size:25px;
    border:none;
    border-radius:3px;
    font-weight:bold;
    cursor:pointer;
    color:white;
    background-color:red;
    box-shadow:0px 0px 1.5px rgba(0,0,0,0.9);
    transition:box-shadow 0.1s ease-in-out,color 0.1s ease-in-out,background-color 0.1s ease-in-out;
}
.delete-passenger:hover{
    color:red;
    background-color:white;
    box-shadow:0px 0px 1.5px rgba(255,0,0,0.9);
}
table tr th{
    padding:5px;
    background-color:dodgerblue;
    color:white;
}
table tr td{
    padding:5px;
    background-color:whitesmoke;
}
table tr{
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
}
table{
    text-align:center;
    border-collapse:collapse;
    margin:auto;
}
#enterfirst{
    font-size:11px;
    color:red;
}
.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}
.h1 {
    text-align: center;
    color:dodgerblue;
}
.p {
    margin: 15px 0;
}
.section-title {
    color:dodgerblue;
    margin-top: 20px;
}
.contactdiv{
    display:flex;
    justify-content:start;   
}
#input2,#input3,#textarea,.senddiv{
    margin-top:2%;
}
#input1,#input2,#input3,#textarea{
    box-shadow:0px 0px 2px rgba(0,0,0,0.9);
}
#input1:hover,#input2:hover,#input3:hover,#textarea:hover{
    box-shadow:0px 0px 1px 1px rgba(30,144,255);
}
#input1:hover::placeholder,#input2:hover::placeholder,#input3:hover::placeholder,#textarea:hover::placeholder{
    color:dodgerblue;
}
.senddiv{
    text-align:center;
}
.sendbutton{
    font-family:Verdana;
    border-radius:6px;
    border-style:none;
    background-color:dodgerblue;
    color:white;
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
    width:20%;
    block-size:50px;
    transition:background-color 0.2s ease-in-out,color 0.2s ease-in-out;
}
.sendbutton:hover{
    box-shadow:0px 0px 1px 1px rgba(30,144,255,0.9);
    background-color:white;
    color:dodgerblue;
}
span{
    color:dodgerblue;
    font-weight:bold;
}
#contacticon{
    font-size:x-large;
}
#passengerId{
    color:dodgerblue;
}
.company,.phone,.email{
    margin-top:-2%;
    font-size:small;
    margin-left:2%;
}
#flightDetailsContainer{
    width:70%;
    margin:5% auto;
    padding:5%;
    border-radius:6px;
    background-color:whitesmoke;
    box-shadow:0px 0px 1.5px rgba(0,0,0,0.9);
}
.table-container{
    overflow-x:auto;
}
@media(max-width:900px){
    .loginform{
        margin:auto;
        margin-top:5%;
        padding-bottom:3%;
        width:40%;
        border-radius:20px;
        box-shadow:0px 0px 1px rgba(0,0,0,0.9);
        text-align:center;
        background-color:whitesmoke;
        overflow:hidden;
    }
}
@media(max-width:800px){
    html{
        font-size:small;
    }
    .logoutdiv{
        margin-top:9%;
        margin-right:15%;
        font-size:small;
    }
    #username{
        font-size:medium;
    }
    .loginform{
        margin:auto;
        margin-top:5%;
        padding-bottom:3%;
        width:50%;
        border-radius:20px;
        box-shadow:0px 0px 1px rgba(0,0,0,0.9);
        text-align:center;
        background-color:whitesmoke;
        overflow:hidden;
    }
    .button{
        font-size:small;
        padding:10px;
    }
    .statementoption{
        font-size:xx-small;
    }
    .nav{
        padding:0;
        flex-wrap:wrap;
    }
    .options{
        margin-left:0%;
    }
    .option,.optionhome,.optionabout,.optionhelp,.optionpassen{
        display:inline-block;
        box-sizing: border-box;
    }
    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .searchbutton{
        padding:0px 10px;
    }
    .logo{
        display:none;
    }
    .logo2{
        display:flex;
    }
    .loimg{
        margin-left:20%;
    }
    .socialmediadiv{
        margin:0;
    }
    .mainimg{
        margin-top:5%;
        block-size:14em;;
    }
    .logoimg2{
        block-size:4em;
    }
    .hword{
        font-size:x-small;
    }
    .sendbutton{
        width:30%;
        block-size:40px;
        font-size:x-small;
    }
    input,textarea{
        block-size:30px;
        width:98%;
    }
    .innerbutton{
        width:30%;
        block-size:40px;
        font-size:x-small;
    }
    #facebook,#linkedin,#github,#whatsapp{
        font-size:xx-large;
    }
    .view-flight-details,.delete-passenger{
        block-size:20px;
        font-size:x-small;
    }
    .note{
        font-size:x-small;
    }
    #searchicon{
        font-size:small;
    }
    #searchcontent{
        width:60%;
    }
    .company,.phone,.email{
        margin-top:-4%;
    }
}
@media(max-width:700px){
    .loginform{
        margin:auto;
        margin-top:5%;
        padding-bottom:3%;
        width:60%;
        border-radius:20px;
        box-shadow:0px 0px 1px rgba(0,0,0,0.9);
        text-align:center;
        background-color:whitesmoke;
        overflow:hidden;
    }
}
@media(max-width:500px){
    .loginform{
        margin:auto;
        margin-top:5%;
        padding-bottom:3%;
        width:70%;
        border-radius:20px;
        box-shadow:0px 0px 1px rgba(0,0,0,0.9);
        text-align:center;
        background-color:whitesmoke;
        overflow:hidden;
    }
    .logoutdiv{
        margin-top:12%;
        margin-right:10%;
    }
}
@media(max-width:450px){
    .loginform{
        margin:auto;
        margin-top:5%;
        padding-bottom:6%;
        width:90%;
        border-radius:20px;
        box-shadow:0px 0px 1px rgba(0,0,0,0.9);
        text-align:center;
        background-color:whitesmoke;
        overflow:hidden;
    }
    .logoutdiv{
        margin-top:14%;
        margin-right:2%;
    }
}
